body,
html {
    height: 100%;
    margin: 0;
}

.bg-image {
    background-image: url('/bg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: white; */
    padding-top: 50px;
}

.header {
    background: linear-gradient(to right, #294935, #62AF7F);
    color: white;
    padding: 5px;
    text-align: left;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 10px;
    height: 45px;
    margin-right: 8px;
    margin-left: 20px;
}

#paybtn{
    background-color: rgb(118, 118, 231);
    color: white;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
}

.system-title {
    font-size: 16px;
    margin: 0;
}

.redesigned-container {
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: auto;
  }
  
  .subscription-header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #294935;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #62AF7F;
    margin-bottom: 20px;
  }
  
  .subscription-content {
    margin-top: 20px;
  }
  
  .subscription-status {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .renew-btn {
    background-color: #62AF7F;
    color: white;
    font-size: 1rem;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .renew-btn:hover {
    background-color: #4b8f64;
  }
  
